@use 'mixinsfunc';

@mixin arreglar-imagen{
    background: {
        size: cover;
        repeat: no-repeat;
        position: center;
    };
}

.hero{

    &_container{
        height: calc(100vh - 70px);
        background-image: linear-gradient(#000, #00000096),
        url(/img/Mercay.png);

        @include mixinsfunc.crear-flexbox(center);

        @include arreglar-imagen;
    }

    &_texts{
        color: #fff;
    }

    &_title{
        font-size: mixinsfunc.pixeles-rem(40);
        margin-bottom: mixinsfunc.pixeles-rem(10);
    }

    &_paragraph{
        font-size: mixinsfunc.pixeles-rem(18);
    }
}